@media screen and (min-width: 1921px) {
    
    .home-card-title {
        font-size: 5rem;
        margin-bottom: 3rem;
    }

    .home-card-button-s,
    .home-card-button-t {
        font-size: 10rem;
    }

    .home-card-button-s {
        transform: translateX(-1.5rem);
    }

    .home-card-button-t {
        transform: translateX(1.5rem);
    }
}